
.app {
    display: flex;
}

aside.primary-aside {
    width: 200px;
}

aside.primary-aside a.active {
    font-weight: bold;
}

main {
    flex: 1;
}

.details{
    float: left;
}

.edit{
    margin-left:20px;
    margin-right:20px;
}

.data-list-item{
    margin-bottom:10px;
}


aside a{
    display: block;
}
